ml/*

# But keep ml/models
!ml/
!ml/models/
!ml/models/**
data/
datasets/
runs/
outputs/
checkpoints/
logs/
wandb/
mlruns/
__pycache__/
*.pyc
.ipynb_checkpoints/
.env
# ignore all artifacts
artifacts/**

# but keep the folder path
!artifacts/
!artifacts/models/

# ignore everything inside models
artifacts/models/**

# except placeholder
!artifacts/models/.keep

debug/
debug_overfit/
debug_overlay/
scripts/